body {
    background-color: #8D949A;

    display: grid;
    place-items: center;
    min-height: 100dvh;

    font-family: "Merriweather Sans", sans-serif;
    font-weight: 500;
    font-style: normal;
}

button {
    font-family: "Merriweather Sans", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.card-item {
    display: grid;

    grid-template-columns: 1fr 2fr;
    aspect-ratio: 2 / 1;
    max-width: 1000px;
    width: 90%; /* So that it does not hit the edges on medium screens */
    
    background-color: white;
    border-radius: 20px;
    overflow: hidden; /* Cut image borders */
}

.card-img {
    height: 100%;
    width: 100%;
}

.card-img img {
    width: 100%;
    height: 100%;

    object-fit: contain;
}

.card-content {
    padding: 50px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.offer-label {
    background-color: #E12F42;
    color: white;
    padding: 12px 16px;
    border-radius: 50px;
}

.card-content h3 {
    font-size: 42px;
    color: #E96862;
}

.price {
    font-size: 60px;
    color: #E12F42;
    font-weight: 700;
}

.btn-primary {
    width: fit-content;
    padding: 20px 40px; /* So that it does not take up the entire width */
    background-color: #E96862;
    border: 2px solid #E96862;
    border-radius: 8px;

    color: white;
    font-size: 32px;

    cursor: pointer;

    transition: all 0.3s ease;
}

.btn-primary:hover {
    background-color: white;
    color: #E96862;
}

.secondary-actions {
    display: flex;
    flex-wrap: wrap; /* Important: allow them to download if there is no space */
    gap: 20px;
}

.btn-secondary {
    background-color: white;
    padding: 12px 24px;
    border: 2px solid #E12F42;
    border-radius: 8px;

    color: #E12F42;
    font-size: 18px;

    cursor: pointer;

    transition: all 0.3s ease;
}

.btn-secondary:hover {
    background-color: #E12F42;
    color: white;
}

/* Responsive mobile */
@media (max-width: 768px) {
    .card-item {
        grid-template-columns: 1fr;
        max-width: 400px;
        height: auto;
        aspect-ratio: auto;
    }

    .card-img {
        height: 300px; /* Fixed height for the mobile image */
    }

    .card-content {
        padding: 30px 20px;
        text-align: center;
        align-items: center;
    }

    .btn-primary {
        width: 100%;
    }

    .secondary-actions {
        justify-content: center;
    }
}