body {
    background-color: #8D949A;
    justify-items: center;
    align-content: center;
    height: 100dvh;
    font-family: "Merriweather Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

button {
    font-family: "Merriweather Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.card-item {
    display: grid;
    grid-template-columns: 1fr 2fr;
    aspect-ratio: 2 / 1;
    max-width: 1000px;
    
    background-color: white;
    border-radius: 20px;
    overflow: hidden; /* Cut image borders */
}

.card-img {
    height: 100%;
    width: 100%;
}

.card-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.card-content {
    padding: 50px 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-content h3 {
    font-size: 42px;
    color: #E96862;
}

.offer-label {
    background-color: #E12F42;
    color: white;
    padding: 12px;
    border-radius: 50px;
}

.price {
    font-size: 60px;
    color: #E12F42;
    font-weight: 700;
}

.btn-primary {
    width: 40%;
    background-color: #E96862;
    border: 2px solid #E96862;
    border-radius: 8px;
    padding: 20px 0;

    color: white;
    font-size: 32px;

    cursor: pointer;

    transition: all 0.3s ease;
}

.btn-primary:hover {
    background-color: white;
    border: 2px solid #E96862;
    color: #E96862;
}

.secondary-actions {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.btn-secondary {
    background-color: white;
    border: 2px solid #E12F42;
    color: #E12F42;
    font-size: 18px;
    border-radius: 8px;

    padding: 12px 24px;
    
    cursor: pointer;

    transition: all 0.3s ease;
}

.btn-secondary:hover {
    background-color: #E12F42;
    color: white;
}